#body {
    background-color: hsl(217, 28%, 15%);
    color: white;
    margin: 0px;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;;
}

.contentHome {
    margin: 3em;
    position: relative;
}

.contentSecond {
    background-color: hsl(218, 28%, 13%);
    display: flex;
    flex-direction: column;

}

.wave {
    z-index: 0;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;;
}

ul li {
    display: inline-block;
    list-style: none;
    margin-right: 4em;
    opacity: 50%;
}

ul li:hover {
    opacity: 200%;
}

.navlist li a:hover {
    text-decoration: underline;
    color: white;
}

ul li a {
    text-decoration: none;
    color: white;
}

.contentlogo {
    display: flex;
    align-items: center;
    z-index: 2;
}

.homecontent {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
}

.homecontent--txtcenter {
    text-align: center;
}

.homecontent h1 {
    width: 68%;
    font-size: 2em;
    font-weight: 700;
}

.homecontent p {
    width: 42%;
    opacity: 60%;
}

.homecontent__btn {
    height: 3em;
    width: 28%;
    border-radius: 30px;
    border-width: 0px;
    color: white;
}

.homecontent__btn--bgcolor {
    background-color: hsl(198, 60%, 50%);
}

.homecontent__btn:hover {
    background-color: hsl(176, 68%, 64%);
}

.contentSecond__listcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contentSecond__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 42%;
    margin: 1em;
}

.contentSecond__card p {
    width: 54%;
    opacity: 60%;
}

.contentstayproductive {
    display: flex;
    justify-content: center;
}

.contentstayproductive__descript {
    width: 34%;
    margin-left: 10%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.imgsize {
    width: 100%;
    height: 100%;
}

#linkblue{
    color: hsl(198, 60%, 50%);
    text-decoration: none;
}

button {
    cursor: pointer;
}

.contentstayproductive__descript h1 {
    font-size: 2em;
    width: 65%;
}

.curvydesktop {
    position: absolute;
    top: 44em;
    transform: translate(0%, -30%);
    width: 100%;
}

.profilcontent {
    display: flex;
    justify-content: center;
    margin-top: 6em;
    height: 17em;
    background-image: url(images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position-x: 8em;
    align-items: center;
    background-position-y: 0.5em;
    margin-bottom: 20em;
}

.photoprofil {
    width: 2em;
}

.photoprofil--borderradius {
    border-radius: 50%;
}

figure {
    background-color: hsl(217, 28%, 15%);
    padding: 1.5em;
    margin: 1em;
    max-width: 20em;
    box-shadow: 6px 5px 9px rgb(18 18 32);
}

figcaption {
    display: flex;
    align-items: center;
}

blockquote {
    margin-left: 0px;
    opacity: 60%;
}

.profilcard__namepost {
    flex-direction: column;
    margin-left: 1em;
    font-size: x-small;
}

.profilcard__namepost p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.opacity{
    opacity: 60%;
}
.contentstayproductive__descript p{
    opacity: 60%;
}

footer {
    background-color: hsl(216, 53%, 9%);
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 13em;
    padding-bottom: 4em;
}

.footercontent {
    display: flex;
    margin-top: 3em;
}

.footercontent__contact {
    flex-direction: column;
}

.getearlyaccestoday {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -46%);
    width: 62%;
    height: 28%;
    padding: 2em;
    background-color: hsl(217, 28%, 15%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 6px 5px 9px rgb(18 18 32);
}

.getearlyaccestoday p {
    width: 83%;
    text-align: center;
    opacity: 50%;
}

#myform {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputemail {
    height: 3em;
    margin-right: 2em;
    border-radius: 30px;
    width: 71%;
    outline: none;
    padding-left: 3em;
}

.footercontent__location p {
    width: 80%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1em;
    opacity: 60%;
}

.footercontent--img {
    width: fit-content;
    height: fit-content;
}

.footercontent .footercontent__location {
    display: flex;
    width: 50%;
}

.footercontent .footercontent__contact {
    display: flex;
}

.footercontent__contact .telcontent {
    display: flex;
}

.footercontent__contact .emailcontent {
    display: flex;
    margin-top: 2em;
}

.footercontent__contact p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1em;
    opacity: 60%;
}

.footer__list {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.circleborder--white{
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    margin-right: 1em;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#linka:hover{
    color: hsl(198, 60%, 50%);
    
}
.circleborder--white:hover{
    border: 2px solid hsl(198, 60%, 50%);
}

a{
    color: white;
    text-decoration: none;
}
.iconcontent{
    display: flex;
}

@media screen and (max-width: 1024px) {
    .contentstayproductive {
        flex-direction: column;
        align-items: center;
    }

    .imgsizelog {
        width: 50%;
        height: 50%;
    }

    ul {
        padding-left: 0px;
        width: max-content;
    }

    ul li {
        margin-right: 1em;
    }

    .contentHome {
        margin: 2em;
    }

    .contentstayproductive__descript {
        width: 70%;

        justify-content: center;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 768px) {
    .profilcontent {
        flex-direction: column;
        height: auto;
        background-position-x: 2em;
        background-position-y: 0em;
    }
}

@media screen and (max-width: 531px) {
    .curvydesktop {
        top: 57em;
    }

}

@media screen and (max-width: 425px) {
    .homecontent h1 {
        width: 100%;
        font-size: 1.5em;
    }

    .homecontent p {
        width: 100%;
        font-size: small;
    }
    .homecontent--txtcenter{
        font-size: large;
    }

    .contentSecond__card {
        width: 100%;
    }

    .contentSecond__card p {
        width: 100%;
        font-size: 1em;
    }

    .contentstayproductive__descript {
        margin-left: 0px;
        width: 100%;
    }

    .contentstayproductive__descript h1 {
        width: 100%;
        font-size: 1.3em;
    }

    .curvydesktop {
        top: 38em;
    }

    .footercontent {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: column;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 19em;
    }
    .footercontent .footercontent__location{
        width: 100%;
        margin-bottom: 2em;
    }
    .footercontent__location p {
        width: 100%;
    }
    .footercontent .footercontent__contact {
        display: flex;
        margin-bottom: 2em;
    }
    .footer__list {
        margin-top: 0px;
        margin-bottom: 2em;
    }
    .footer__list li{
        margin-top: 1em;
    }
    #myform{
        flex-direction: column;
        width: 100%;
    }
    .homecontent__btn{
        width: 100%;
    }
    .getearlyaccestoday {
        height: 42%;
        padding: 2em;
        width: 71%;

    }
    #inputemail{
        width: 83%;
        margin-right: 0px;
        margin-bottom: 2em;
    }
    .getearlyaccestoday p{
        width: 100%;
    }
    .getearlyaccestoday h1{
        font-size: 1.5em;
    }
    .iconcontent{
       justify-content: center;
       align-items: center;
    }
    
}

@media screen and (max-width: 375px) {
    .curvydesktop {
        top: 37em;
    }

}

@media screen and (max-width: 320px) {
    .curvydesktop {
        top: 40em;
    }
}